
<div>
	<h4>
		<strong>{{list.title}}</strong>
	</h4>

	<div id="{{list._id}}" [dragula]="'bag'" [dragulaModel]="cards" [ngClass]="{'cards-list': cards && cards.length, 'height-100': !list.cards || !list.cards.length}">
		<div *ngFor="let card of cards" class="card">
			<app-card id="{{card._id}}" [data]="card"></app-card>
		</div>
		<div *ngIf="!list.cards || !list.cards.length" class="height-100">
			<span class="text-muted">No cards available</span>
		</div>
	</div>

</div>

<div>
	<div *ngIf="!isFormVisible" (click)="setFormVisibility(true)">
		<strong>
			<span class="text-muted">Add Card...</span>
		</strong>
	</div>
	<div class="row padding-15" *ngIf="isFormVisible">
		<div class="center">
			<textarea class="form-control" [(ngModel)]="newCard.title" placeholder="Card Title..."></textarea>
		</div>
		<div class="margin-top-10 display-inline-flex pull-right">
			<div class="padding-left-5">
				<button class="btn btn-sm btn-danger" (click)="setFormVisibility(false)">Cancel</button>
			</div>
			<div class="padding-left-5">
				<button class="btn btn-sm btn-success" (click)="addCard()">Add</button>
			</div>
		</div>
	</div>
</div>
