
<div class="container">
	<h4>
		<strong>{{list.title}}</strong>
	</h4>

	<div id="{{list._id}}" [dragula]="'bag'" [dragulaModel]="cards" [ngClass]="{'cards-list': cards && cards.length, 'height-100': !list.cards || !list.cards.length}">
		<div *ngFor="let card of cards" class="card">
			<app-card id="{{card._id}}" [data]="card"></app-card>
		</div>
		<div *ngIf="!list.cards || !list.cards.length" class="height-100">
			<span class="text-muted">No cards available</span>
		</div>
	</div>

</div>

<div class="container">
	<div *ngIf="!isFormVisible" (click)="setFormVisibility(true)">
		<strong>
			<span class="text-muted">Add Card...</span>
		</strong>
	</div>
	<div class="row">
		<div class="col">
			<div class="container-fluid" *ngIf="isFormVisible">
				<div class="row">
					<div class="center">
						<input class="form-control" [(ngModel)]="newCard.title" placeholder="Card Title..."/>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="d-flex justify-content-around" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-sm btn-danger" (click)="setFormVisibility(false)">Cancel</button>
							<button type="button" [disabled]="newCard.title.trim().length === 0 " class="btn btn-sm btn-success" (click)="addCard()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
