<app-navbar></app-navbar>

<div bsModal #addBoardModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="addBoardModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new Board</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Title</span>
                    <input type="text" class="form-control" [(ngModel)]="newBoard.title" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
	        	<button type="button" class="btn btn-default" (click)="addBoardModal.hide()">Close</button>
        		<button class="btn btn-success" (click)="addBoard()">Save</button>
	      	</div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">

	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-primary" (click)="addBoardModal.show()">Create new Board</button>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm">
			<ul *ngFor="let board of boards" class="list-group">
				<li [routerLink]="['/dashboard', board._id]" class="list-group-item d-flex justify-content-between align-items-center">
					{{ board.title }}
				</li>
			</ul>
		</div>
	</div>

	<div *ngIf="!boards || !boards.length" class="row height-100">
		<div class="col-sm">
			<span class="text-muted text-center">No boards available</span>
		</div>
	</div>

</div>
