<app-navbar></app-navbar>

<div bsModal #addListModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create new List</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Title</span>
                    <input type="text" class="form-control" [(ngModel)]="newList.title" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
	        	<button type="button" class="btn btn-default" (click)="addListModal.hide()">Cancel</button>
        		<button class="btn btn-success" (click)="addList()">Save</button>
	      	</div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">
	<div class="row justify-content-between">
			<div class="col-auto">
					<button class="btn btn-default" [routerLink]="['../']">Back</button>
			</div>
			<div class="col-auto">
					<p class="text-center">{{ board ? board.title : 'Board' }}</p>
			</div>
	    <div class="col-auto">
	        <button (click)="addListModal.show()" class="btn btn-primary">Create new List</button>
	    </div>
	</div>

	<br>

	<div class="row list-container">
	    <div *ngFor="let list of lists" class="list">
	        <app-list [data]="list"></app-list>
	    </div>

			<div *ngIf="lists.length === 0" class="container">
				<div class="row">
					<div class="col">
						<p class="text-center">No lists available</p>
					</div>
				</div>
	    </div>
	</div>
</div>
