<div bsModal #addListModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="addListModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add List</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Title</span>
                    <input type="text" class="form-control" [(ngModel)]="newList.title" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
	        	<button type="button" class="btn btn-default" (click)="addListModal.hide()">Close</button>
        		<button class="btn btn-success" (click)="addList()">Create</button>
	      	</div>
        </div>
    </div>
</div>
<div>
    <div class="col-sm-11"></div>
    <div class="col-sm-1">
        <button (click)="addListModal.show()" class="btn btn-primary">Add List</button>
    </div>
</div>
<div class="list-container">
    <div *ngFor="let list of lists" class="list">
        <app-list [data]="list"></app-list>
    </div>

		<div *ngIf="lists.length === 0">
        <p class="center">No lists available</p>
    </div>
</div>
